host hzgpu01
    HostName 218.75.73.186
    Port 20010
    StrictHostKeyChecking no
host hzgpu02
    HostName 218.75.73.186
    Port 20011
    StrictHostKeyChecking no
host hzcpu01
    HostName 218.75.73.186
    Port 20012
    StrictHostKeyChecking no
host hzcpu02
    HostName 218.75.73.186
    Port 20013
    StrictHostKeyChecking no
host hzcpu03
    HostName 218.75.73.186
    Port 20014
    StrictHostKeyChecking no
host hzcpu04
    HostName 218.75.73.186
    Port 20015
    StrictHostKeyChecking no
host hzcpu05
    HostName 218.75.73.186
    Port 20016
    StrictHostKeyChecking no
host hzvmcpu01
    HostName 218.75.73.186
    Port 10101
    StrictHostKeyChecking no
host hzvmcpu02
    HostName 218.75.73.186
    Port 10102
    StrictHostKeyChecking no
host hzvmcpu03
    HostName 218.75.73.186
    Port 10103
    StrictHostKeyChecking no
host hzvmgpu01
    HostName 218.75.73.186
    Port 10104
    StrictHostKeyChecking no
host hzvmgpu02
    HostName 218.75.73.186
    Port 10105
    StrictHostKeyChecking no
host hzvmgpu03
    HostName 218.75.73.186
    Port 10106
    StrictHostKeyChecking no
