server {
    listen 80;
    server_name ${X_PROXY_NAME};
    location /jira {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass ${X_PROXY_SCHEME}://jira:8080${X_PATH};
        client_max_body_size 10M;
    }
}
